/* Separator-position-thickness(px)-style */
.sep-top-3-s {
    padding-top: 1rem;
    border-top: rgba(150, 150, 150, .8) 3px solid;
}

/*
    Footer
*/

footer {
    margin-top: auto;
    padding: 1.5em 0;
    text-align: center;
    max-height: 30vh;
}

.footer-margin {
    margin: 0 10%;
    height: max-content;
}

.footer-section > h2 {
    text-align: left;
    padding-left: 2rem;
}

/* Space between elements in section. For MOBILE devices */
.footer-section > div.pure-g {
    margin: 2rem 0 3rem 1rem;
    gap: 2rem;
}

.footer-section-method-icon {
    max-width: 32px;
    max-height: 32px;

    margin-right: 10px;
}

.footer-section-method-text {
    height: 32px;

    display: flex;
    justify-items: left;
    align-items: center;
}

.footer-section-method-text > span {
    max-width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*
    Copyright notice & VCS
*/
.copyright-notice-and-version-section {
    width: 100%;
    height: 2rem;
}

.copyright-notice > p, .version > p {
    color: #666;
}

@media screen and (min-width: 80em) {
    .copyright-notice > p {
        margin-left: 3rem;
        justify-content: flex-start;
    }

    .version > p {
        margin-right: 3rem;
        justify-content: flex-end;
    }
}